{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h3>About</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <hr>
            <p>
               The AEON Funding System was put in to action by members of the AEON Community. Our goal is to have our community members fund each other in order to help AEON grow. For the love of all things crypto, someone give me a sentence to put here as I am not a writer.
            </p>
            

            <p>
                If and when you encounter problems with our funding system; please use one of the contact methods below to reach an administrator: 
            </p>

            <ul>
                <li>Github: <a href="https://github.com/camthegeek/aeon-funding-system/issues">Open an issue</a></li>
                <li>IRC: chat.freenode.org #aeon</li>
                <li>Discord: <a href="https://discord.gg/78eGQ4d" target="_blank">https://discord.gg/78eGQ4d</a></li>
                <li>E-mail: aeoncommunity [ at ] protonmail.com</li>
            </ul>
             <p>
                We do not keep access logs or install tracking cookies. All static resources (javascript/stylesheets/images) are self-hosted. This funding system is a fork of the Wownero Funding System. 
            </p>
        </div>

        {% include 'sidebar.html' %}

    </div>

    <br>

</div>
<!-- /.container -->
{% endblock %}
