{% extends "base.html" %}
{% block content %}

<div class="container api_documentation">
    <div class="row" style="margin-bottom:4px;">
        <div class="col-lg-9">
            <h2>API documentation</h2>
            <hr>
            <p>
                Requests are made using standard HTTP and responses are returned in JSON format.
            </p>
            <p>
                <ul>
                    <li><a href="#api_proposals">/api/1/proposals</a></li>
                </ul>
            </p>
            <br>

            <div class="api_container" id="api_proposals">
                <h5><small>GET</small> <code>/api/1/proposals</code></h5>
                <hr>
                <p>
                    Proposal listing.
                </p>

                <b>Parameters:</b>
                <ul>
                    <li><code>status</code>: the proposal status, from 0 to 5. Default is 1.</li>
                    <li><code>limit</code>: limit results. Default is 20.</li>
                    <li><code>offset</code>: offset results. Default is 0.</li>
                </ul>

                <b>Example:</b>
                <pre>curl -vvX GET 'https://funding.wrkz.work/api/1/proposals?offset=0&limit=1&status=2'</pre>

                <b>Response:</b>
                <pre>{
  "data": [
    {
      "addr_donation": "WrkzRsubcvfARzXrhHCe5bAbhbsjKngkGHFvynReev82AZqVvQjomepHbbLG4mGDFe9vtYQT1ij3Y9mE4J2QbUoE9ZbfffqKBxVF37wcZw9gX74CXqFVfeBHYENZy74Ebf4hFJn3quVSWL1KSPPoLLWZr9ZePQXFS9hWuDboQKBU2XLnAVJdEEfnfU", 
      "category": "core", 
      "content_markdown": "#### Why?\n\nWhat problem(s) are you trying to solve?\n\n#### How much?\n\nWhat is the total cost in ? List expenses per item. Total hours of work and per hour rate. What exchange rates are you using?\n\n#### What?\n\nDescribe your idea in detail.\n\n#### Milestones?\n\nBreak down tasks into different stages. Each stage should have the estimated number of days/weeks needed and cost per stage.\n\n#### Outcomes?\n\nWhat will be delivered? What goals will be reached?\n\n#### Why you?\n\nWhat skills and experience do you have?  CCCC", 
      "date_posted": "Jan 30 2021 06:11:15", 
      "date_posted_epoch": "1611987075", 
      "funded_pct": 1.02, 
      "funds_target": 1000000.0, 
      "headline": "Test Fund 3", 
      "id": 2, 
      "status": 2, 
      "user": "pluton"
    }
  ]
}</pre>
            </div>

            <div class="api_container" id="api_qr_generation">
                <h5><small>GET</small> <code>/api/1/qr</code></h5>
                <hr>
                <p>
                    WRKZ address to QR code generation. Returns 300x300 png.
                </p>

                <b>Example:</b>
                <br>
                <a target="_blank" href="https://funding.wrkz.work/api/1/qr?address=WrkzQQfNygFGD3Hhfw5TVxEYDmeBsqu8T7EURApdUChbEGoqT5rGUSCfPQFPDYw9sDCSuQcBV6fHyfjU5xipw2Tk8iGG5T3vF5">
                    link
                </a>
            </div>
        </div>

        {% include 'sidebar.html' %}
    </div>
</div>
<!-- /.container -->
{% endblock %}
