<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />

    <meta property="fb:app_id" content="0" />
    <meta property="og:image" content="https://aeonfunding.com/aeon.png" />
    <meta property="og:description" content="AEON Funding System - Projects by the community funded by the community" />
    <meta property="og:url" content="https://aeonfunding.com/" />
    <meta property="og:title" content="AEON Funding System" />
    <meta property="og:type" content="website" />

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-title" content="AEON Funding System">
    <meta name="application-name" content="AEON Funding System">
    <meta name="msapplication-TileColor" content="#2c7dda">
    {% if proposal %}
        <meta name="description" content="{{proposal.content[:50]}}" />
        <title>AEON Funding System - {{proposal.headline[:20]}}</title>
    {% else %}
        <meta name="description" content="AEON Funding System - Community based projects funded by the AEON community" />
        <title>AEON Funding System</title>
    {% endif %}
    <meta name="keywords" content="monero, xmr, bitmonero, cryptocurrency, crypto money, mining crypto currencies, virtual currency, aeon, aeon cash, wownero is best">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-reboot.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/simplemde.min.css">
    <script src="/static/js/simplemde.min.js"></script>
    <link href="/static/css/aeon.css" rel="stylesheet">
    <script src="/static/js/app.js"></script>
    <script src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>

<body onload="fix_anchors();">
{% include 'navbar.html' %}

<!-- Page Content -->
{% block content %} {% endblock %}

<!-- Footer -->
{% include 'footer.html' %}

</body>
</html>