<footer class="bg-dark footer">
	<div class="container">
		<div style="padding:10px" class="row justify-content-center">
			<div class="col-sm-autp">
				<p class="m-0 text-center text-white">
					Wallet:
					{% if walletheight['height'] == 0 %}
					<span style="color: red; font-weight: bold;">OFFLINE</span>
					{% else %} 
					<span style="color: #00ff00; font-weight: bold;">Online</span> (height: {{ walletheight['height'] }})
					{% endif %}
				</p>
			</div>
			<div class="col-sm-auto">
				<p class="m-0 text-center text-white">
					Daemon: 
					{% if daemonheight %} 
					{% if daemonheight['status'] != 'Offline' %}
					<span style="color: #00ff00; font-weight: bold;">Online</span> (height: {{ daemonheight['height'] }})
					{%else%}
					<span style="color: red; font-weight: bold;">OFFLINE</span>
					{%endif%}
					{%endif%}
				</p>
			</div>
			<div class="col-sm-12">
				<p class="m-0 text-center text-white">
					AEONFunding.com - 2018
				</p>
			</div>
		</div>
	</div>
</footer>
