{% extends "base.html" %}
{% block content %}

{% if user %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-4" style="display: inline-block; vertical-align: top;">
                <img src="{{ user.avatar(128) }}">
            </div>
            
            <div class="col-lg-6" style=" display: inline-block; vertical-align: top;">
                <h2>{{user.username}}</h2>
                <p>Last online: {% if user.last_online %} {{ user.last_online }} {% else %} Never! {%endif%}</p>
                {% if user.username == current_user.username %}
                    <p><a href="/account/reset/password">Change password?</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <span style="font-weight: bold; font-size: 14px;">
                    {% if user.username == current_user.username %}
                        Your Proposals
                {% else %}
                    Proposals made by '{{user.username}}'
                {%endif%}
            </span>
            <br/>
            {% if user.proposals %}
                <table class="table table-proposal table-hover" style="margin-bottom:6px;">
                    <tbody>
                        <th>Proposal</th>                        
                        <th>Category</th>
                        <th>Target Amount</th>
                        <th>Amount Raised</th>
                        <th>Date</th>
                        {% for p in user.proposals | sort(attribute='date_added', reverse=True) %}
                        <tr>
                            <td><b><a href="/proposal/{{ p.id }}">{{ p.headline | truncate(42)}}</a></b></td>
                            <td><a href="/proposals?cat={{ p.category }}">{{ p.category |capitalize}}</a></td>
                            <td>{{p.funds_target}}</td>
                            <td>{{p.funds_progress | round(3, 'floor')}}%</td>
                            <td>{{ p.date_added.strftime('%Y-%m-%d') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% if user.username == current_user.username %}
                    You have not submitted any proposals.
                {% else %}
                    This user has not submitted any proposals yet.
                {% endif %}
            {% endif %}
                    <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% if user.username == current_user.username %}
                <span style="font-weight: bold; font-size: 14px;">
                    Your Comments
            </br>
                {% else %}
                    Comments made by '{{user.username}}' <br/>
                {%endif%}
                 </span>
            {% if user.comments %}
                <table class="table table-proposal table-hover" style="margin-bottom:6px;">
                    <tbody>
                        <th>Comment</th>
                        <th>Proposal</th>
                        <th>Date</th>
                        {% for y in user.comments | sort(attribute='date_added', reverse=True) %}
                        <tr>
                            <td><b><a href="/proposal/{{y.proposal.id}}#comment-{{ y.id }}">{{ y.message | truncate(32)}}</a></b></td>
                            <td><a href="/proposal/{{y.proposal.id}}">#{{y.proposal.id }} {{ y.proposal.headline | truncate(32) }}</a></td>
                            <td>{{ y.date_added.strftime('%Y-%m-%d') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %} 
                {% if user.username == current_user.username %}
                    You have not commented on any proposals.
                {% else %}                    
                    This user has not commented on any proposals.
                {% endif %}
            {% endif %}
        </div>
    </div>
   <br>

</div>
{% else %}
No user found by that name.
{% endif %}
<!-- /.container -->
{% endblock %}