{% extends "base.html" %}
{% block content %}

<div class="container api_documentation">
    <div class="row" style="margin-bottom:4px;">
        <div class="col-lg-8">
            <h3>API documentation</h3>
            <p>
                Requests are made using standard HTTP and responses are returned in JSON format.
            </p>
            <p>
                <ul>
                    <li><a href="#api_convert_wow_usd">/api/1/convert/aeon-usd</a></li>
                    <li><a href="#api_proposals">/api/1/proposals</a></li>
                </ul>
            </p>
            <br>

            <div class="api_container" id="api_convert_wow_usd">
                <h5><small>GET</small> <code>/api/1/convert/aeon-usd</code></h5>
                <hr>
                <p>
                    AEON to USD conversion. Data is pulled from Bittrex.com and CoinMarketCap.com
                </p>

                <b>Example:</b>
                <pre>curl -vvX GET 'https://aeonfunding.com/api/1/convert/aeon-usd?amount=1000'</pre>

                <b>Response:</b>
                <pre>{"usd": 729.82}</pre>
            </div>

            <div class="api_container" id="api_proposals">
                <h5><small>GET</small> <code>/api/1/proposals</code></h5>
                <hr>
                <p>
                    Proposal listing.
                </p>

                <b>Parameters:</b>
                <ul>
                    <li><code>status</code>: the proposal status, from 0 to 5. Default is 1.</li>
                    <li><code>limit</code>: limit results. Default is 20.</li>
                    <li><code>offset</code>: offset results. Default is 0.</li>
                </ul>

                <b>Example:</b>
                <pre>curl -vvX GET 'https://aeonfunding.com/api/1/proposals?offset=0&limit=1&status=2'</pre>

                <b>Response:</b>
                <pre>{
   {
  "data": [
    {
      "addr_donation": "XnYwVf3coXSCvQAjzzTKJEeMWxzCMUbzQbA3kZsqPoieR1xYW7RxbLjjLGmZLDwXc6hsNGDwWeyMTDxNL8AYHVjH1WCD8dmHy", 
      "category": "marketing", 
      "content_markdown": "elite cam = good cam! :D \nwords left to go = 20\nso many more to go.\nwatch that word counter go up !", 
      "date_posted": "Aug 28 2018 02:46:05", 
      "date_posted_epoch": "1535424365", 
      "funded_pct": 0.0, 
      "funds_target": 1.0, 
      "headline": "cam fixed the funds_target issue", 
      "id": 19, 
      "status": 2, 
      "user": "camthegeek"
    }
  ]
}
}</pre>
            </div>
        </div>

        {% include 'sidebar.html' %}
    </div>


</div>
<!-- /.container -->
{% endblock %}
